@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
    box-sizing : border-box;
}

body {
    background-color: black;
    padding-top: 50px;
    font-family: "Hind Siliguri", sans-serif;

}

.container p {
    color: white;
    padding: 60px;
    font-size: 25px;
}

.container ul li a {
    color: purple;
    font-size: 30px;
}


.nav {
    position: fixed;
    background-color: #333;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.nav .navcontainer {
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.container .close{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 15px;
    left: 0px;
    top: 0px;
    position: absolute;

}

.nav a {
    color: white;
    text-decoration: none;
    padding: 7px 10px;
    transition: all 0.3s ease-in-out;
}

.container .close {
    color: white;
}

.container .close:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav:hover {
    background-color: purple;
    box-shadow: 0 2px 10px rgb(0,0,0);
}

.nav:hover a {
    color: black;
}

.nav.closed {
    display: none;
    transition: all 0.3s ease-in-out;
}
